@tailwind base;
@tailwind components;
@tailwind utilities;

.banner{
  background-image: url(../../public/assets//banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 90vh!important;
}
.logo{
  filter: brightness(0) invert(0);
}

.heading>h1{
  font-size: 80px;
  color: white;
  padding: 80px 0px 0px 80px;
}
.slider{
  width: 80vw;
  margin: auto;

}